@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: #DEE6DA;
}

.wrapper {
    display: flex;
    flex-direction: row;

}

header {
    width: 277px;
    height: 100vh;
    padding-top: 252px;
    padding-left: 40px;
    /*display: flex;
    flex-direction: column;
    row-gap: 16px;*/
    position: fixed;
    background-color: #3C3A3A;
    color: #fff;
    text-decoration: none;
}

.linksHeader {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.content {
    background-color: #4A4848;
    width: 100%;
}

#sessaoPrincipal {
    margin-top: 50px;
    margin-left: 317px;
    max-width: 700px;
}

.conteudoPag {
    padding-top: 100px;
    padding-bottom: 300px;

}

footer {
    height: 50px;
    width: 100%;
    margin-left: 277px;
    left: 0;
    bottom: 0;
    background-color: #333231;
    position: fixed;
}

.sobreMim {}

#pagInicial {
    margin-top: 200px;
}

#perfil {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.contato {
    flex-direction: column;
    display: flex;
    row-gap: 20px;
}

.linksContato {
    display: flex;
    flex-direction: row;
}

/*.caixaContato {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}*/

.divProjetos {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.titulo {
    margin-bottom: 56px;
}

p {
    font-size: 18px;
}

a {
    color: #fff;
    text-decoration: none;
}

a::after {
    text-decoration: none;
}

img {
    width: 180px;
    height: auto;
    border-radius: 10px;
}

.imgProjeto {
    width: 500px;
    height: auto;
}